/*****tag*****/
body {
    margin: 0px;
}

h1 {
    margin: 0px;
    background-color: aliceblue;
    display: inline;
    width: 100px;
}

p {
    background-color: red;
    display: inline;
}

/*****class*****/


.container {
    height: 300px;
    width: 300px;
    background-color: grey;
    opacity: 50%;
    position: relative;
    
}

.top-container {
    background-color: #B0DAFF;
}


.mountain {
    display: block;
}

.pro {
    text-decoration: underline;
}

.red {
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    
}
 .yellow {
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: absolute;
    right: 0;
    top: 0;
 }